<script setup lang="ts">
import MessageList from '@/components/MessageList.vue';
import MessageBox from '@/components/MessageBox.vue';
import { nextTick, ref } from 'vue';
const messages = ref<string[]>([])
const messageList = ref<typeof MessageList | null>(null)
const answers = ['สวัสดีที่รัก', 'ไปไหนมาหรอ', 'วันนี้กินข้าวหรอยัง', 'ไม่คุยด้วยและ']
function send(message: string) {
  messages.value.push(message) 
  answerwithComputer()
}
function answerwithComputer() {
  const ranAns = Math.floor(Math.random()*10000) % answers.length
  const answer = answers[ranAns]
  messages.value.push(answer)
  nextTick(() =>{
    messageList.value?.updateUI()
  })
}
</script>

<template>
  <div>
    <MessageList ref="messageList" :messages = 'messages'></MessageList>
    <MessageBox @send="send"></MessageBox>
  </div>
</template>
